* {
    font-family: monospace;
    /* font-size: 20px; */
    margin: 2px;
}

header a {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    color: white;
    padding: 20px;
    background-color: rgb(233, 169, 97);
    padding-right: 45px;
}
.timer {
    display: none;
    flex-direction: column;
    font-size: 20px;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
.timer {
    display: flex;
    justify-content: flex-end;
}
h1 {
    background-color: rgb(233, 169, 97);
    padding: 15px;
    /* box-shadow: 0 5 5 salmon; */
}
#intro p {
    padding: 20px;
}

#intro button {
    padding: 10px;
    /* background-color: rgb(233, 169, 97); */
}
.hide {
    display: none;
}

.quizBox {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 169, 97);
    color: white;
}

.resultBox {
    background-color: rgb(233, 169, 97);
    color: white;
    display: none;
    justify-content: center;
    padding: 20px;
}